doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/style.css")
        title Select (IN-PROGRESS)
    body
        div(class="grid-container")
            header(class="header")
                div(class="store-name")
                    button(class="sidebar-expand-button") &#9776
                    a(href="/") Select
                div(class="header-links")
                    a(href="/") Login
                    a(href="/") Sign-Up
            //- aside(class="aside")
            //-     h3 Shopping Categories
                
            main(class="main")
                for item in products 
                    li(class="product")
                        div(class="product-name")= item.title
                        div(class="product-brand")= item.description
                        div(class="product-price") $#{item.price}