doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/style.css")
        title Select (IN-PROGRESS)
    body
        div(class="grid-container")
            header(class="header")
                div(class="store-name")
                    button(class="sidebar-expand-button") &#9776
                    a(href="/") Select
                div(class="header-links")
                    a(href="/") Login
                    a(href="/") Sign-Up
            //- aside(class="aside")
            //-     h3 Shopping Categories
                
            main(class="main")
                ul(class="products")
                    
                    li(class="product")
                        img(class="product-image" src="images/toycar.jpg" alt="Toy Car")
                        div(class="product-name") Toy Car
                        div(class="product-brand") BMW
                        div(class="product-price") $30
                    li(class="product")
                        img(class="product-image" src="images/toy m4 coupe.jpeg" alt="Toy Car")
                        div(class="product-name") Toy Car
                        div(class="product-brand") BMW
                        div(class="product-price") $30
                    li(class="product")
                        img(class="product-image" src="images/model toy bmw car.webp" alt="Toy Car")
                        div(class="product-name") Toy Car
                        div(class="product-brand") BMW
                        div(class="product-price") $30

            footer(class="footer")
                div All Rights Mine